.banner-block {
  position: relative;
}

.banner {
    @include grid;

    &__content {
        grid-column: 1 / 7;
        margin-top: 10em;
        margin-bottom: 14em;
    }

    &__h1 {
        margin-bottom: 0.3em;
        color: var(--neutrals-8);
        font-size: 64px;
        font-family: var(--font-family-DMSans);
    }

    &__p {
        color: var(--neutrals-4);
        font-size: 16px;
        font-family: var(--font-family-Poppins-Reg);
    }

    &__btn {
      margin-top: 3em;

        &__start-now {
        @include blue-btn;

        width: 174px;
        height: 48px;
        padding: 1em 1.5em;
        font-size: 16px;
        line-height: 16px;
      }
    }

    &__image {
      position: absolute;
      transform: translateY(0);
      right: calc(50% - 700px);
      z-index: 1;
    }

    &__img {
      width: 100%;
      height: 100%;
    }
}

.course-now {
    @include grid;

    border-radius: 24px;
    background-color: var(--neutrals-2);

.blocks-hh {
    grid-column: 3 span;
    margin: 24px;
    padding: 2em 3.75em 2em 2em;
}

    .blocks-hh:hover {
        background-color: var(--neutrals-3);
        box-shadow: 0px 64px 64px -48px rgba(15, 15, 15, 0.1);
        border-radius: 16px;
        transition: 0.2s;
    }

    .coin-symbol {
        margin-bottom: 1em;
    }

    &__coin-rate {
        @include flex-all-sb;

        max-width: 131px;
        margin: 0 0 0.5em;
    }
    &__coin {
        margin: 0;
        color: var(--neutrals-4);
        font-family: var(--font-family-Poppins-SB);
        font-size: 12px;
    }
    &__rate,
    &__rate-btc {
        margin: 0;
        max-width: 58px;
        padding: 0.16em 0.3em;
        border-radius: 24px;
        background-color: var(--primary-4);
        color: var(--neutrals-8);
        font-family: var(--font-family-Poppins-SB);
        font-size: 12px;
    }
    &__rate-btc {
        background-color: var(--primary-3);
    }
    &__price{
        margin-bottom: 4px;
        color: var(--neutrals-8);
        font-family: var(--font-family-Poppins-SB);
        font-size: 24px;
    }
    &__price-little{
        color: var(--neutrals-8);
        font-family: var(--font-family-Poppins-Reg);
        font-size: 12px;
    }
}
