.btn__start-now {
  @include blue-btn;

  width: 174px;
  height: 48px;
  padding: 1em 1.5em;
}

.btn-language {
  position: relative;
  padding: 1em 3.1em 1em 1.1em;
  font-size: 14px;

  &::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url('../img/svg/arrow-down-simple-line.svg');
    background-repeat: no-repeat;
    background-position: center;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.btn__sign-up {
  @include blue-btn;

  margin-right: .5em;
  padding: 0.8em 1.1em;

  @include small-tablet {
    margin: 0 1em;
    flex-basis: calc(50% - 2em);
  }
}

.btn__login {
  padding: 0.8em 1.1em;
  border-radius: 90px;
  border: 2px solid var(--neutrals-4);
  color: var(--neutrals-8);

  &:hover {
    background-color: var(--neutrals-3);
    box-shadow: 0 0 0 2px var(---neutrals-3) inset;
  }

  @include small-tablet {
    margin: 0 1em;
    flex-basis: calc(50% - 2em);
  }
}

.btn__view-more {
  @include btn-clear;

  padding: 1em 1.5em;
}

.btn__learn-more {
  @include btn-clear;
  position: relative;
  padding: 0.8125em 3.25em 0.8125em 1.5em;

  &::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url('../img/svg/arrow-right-simple.svg');
    background-repeat: no-repeat;
    background-position: center;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
  }
}
