.course-now {
  @include grid;

  border-radius: 24px;
  background-color: var(--neutrals-2);

  &__block {
    grid-column: 3 span;
    margin: 1.5em;
    padding: 2em 3.75em 2em 2em;

    &:hover {
      background-color: var(--neutrals-3);
      border-radius: 16px;
      transition: 0.2s;
    }

    &--coin-rate {
      @include flex-all-sb;

      max-width: 131px;
      margin: 0 0 0.5em;
    }

    @include small-tablet {
      margin: 1em;
      padding: .8em;
    }
  }

  &--picture {
    margin-bottom: 1em;
  }

  &__coin {
    margin: 0;
    font-family: var(--Poppins-SB);
  }

  &__rate,
  &__rate-btc {
    margin: 0;
    max-width: 58px;
    padding: 0.16em 0.3em;
    border-radius: 24px;
    background-color: var(--primary-4);
    color: var(--neutrals-8);
    font-family: var(--Poppins-SB);
    font-size: 12px;
  }

  &__rate-btc {
    background-color: var(--primary-3);
  }

  &__price {
    margin-bottom: 4px;
  }

  &__price-little {
    color: var(--neutrals-8);
  }
}
