.trade-anywhere {
    position: relative;
    background-color: var(--neutrals-1);
}
.download {
    @include grid;

    margin-bottom: 2.75em;
    @include small-tablet {
      margin-bottom: 0;
    }
    &__block {
        grid-column: 1 / 6;
        margin-top: 12em;
        @include small-tablet {
          grid-column: 6 span;
        }
    }

    &__title {
        margin-bottom: 4em;

        &-p {
            margin-top: 1em;
        }
    }
    &__store {
        @include flex-v-center;

        padding: 2em 0 2em 0;
        &:not(:last-child) {
                border-bottom: 1px solid var(--neutrals-3);
            }
    }
    &__app-icon {
        margin-right: 1.5em;
    }
    &__app {
        font-family: var(--font-family-Poppins-Reg);
    }

    &__bg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: calc(50% - 800px);
        z-index: 1;
    }

}
