#footer {
    border-top: 1px solid var(--neutrals-3);
    background-color: var(--neutrals-1);
}
.wrapper-footer {
  margin: 0 auto;
  max-width: 1120px;

}
.footer {
    @include flex-sb;

    &__blocks {
        padding-top: 5em;
        padding-bottom: 2.7em;

    }

    &__block-1 {
        display: flex;
        flex: 0 0 39%;
        padding-left: 0;
    }

    &__block-2 {
        padding-right: 5em;
        padding-left: 5em;
        border-left: 1px solid var(--neutrals-2);
    }

    &__block-3 {
        padding-left: 5.375em;
        border-left: 1px solid var(--neutrals-2);
    }

    &__logo__link {
        display: inline-block;
        overflow: hidden;
        width: 32px;
        margin-right: 10em;
    }

    &__item {
        &:not(:last-child) {
            padding-bottom: 1.5em;
        }
    }

    &__nav-link {
        color: var(--neutrals-4);
        font-family: var(--font-family-DMSans);
        font-size: 14px;
        line-height: 16px;
    }


    &__title {
        margin-bottom: 3.4em;
        color: var(--neutrals-6);
        text-transform: uppercase;
        font-family: var(--font-family-Poppins-SB);
        font-size: 12px;
        line-height: 12px;
    }

    &__adress-tel {
        color: var(--neutrals-4);
        font-family: var(--font-family-Poppins-Reg);
        font-size: 14px;
        line-height: 24px;
    }

    &__p-subscribe {
        color: var(--neutrals-6);
        font-family: var(--font-family-Poppins-Reg);
        font-size: 14px;
        line-height: 24px;
    }

    &__email-input {
        position: relative;
        margin-top: 1.25em;
        padding: 0.875em 3.625em 0.875em 1em;
        border: 2px solid var(--neutrals-2);
        border-radius: 90px;
    }

    &__email {
        width: 100%;
        border: none;
        background-color: var(--neutrals-1);
        color: var(--neutrals-4);
        font-family: var(--font-family-Poppins-Reg);
        font-size: 14px;
        line-height: 24px;
    }


    &__btn {
        position: absolute;
        top: 8px;
        right: 8px;
        bottom: 8px;
        width: 32px;
        height: 32px;
    }
}

.bottom-bar-border {
  border-top: 1px solid var(--neutrals-2);
}

.bottom-bar {
    @include flex-all-sb;

    max-width: 1120px;
    margin: 0 auto;
    padding-top: 1.6em;
    padding-bottom: 1.4em;


    &__copyright {
      &__p {
          font-family: var(--font-family-Poppins-Reg);
          color: var(--neutrals-4);
          font-size: 12px;
          line-height: 20px;
      }
    }

    &__icon:not(:last-child) {
        margin-right: 1.2em;
    }
}


