.navigation {
    width: 100%;    
    padding-top: 20px;
    padding-left: 80px;
    padding-bottom: 20px;
    padding-right: 80px;
    background-color: var(--neutrals-1);
    border-bottom: 1px solid var(--neutrals-2);
}

.menu-items {
    @include flex-all-sb;    
}

.logo {
    @include flex-v-center;
    &__title {
        padding-left: 8px;
        color: var(--neutrals-7);
        font-size: 24px;
        font-family: var(--font-family-Poppins-SB);
    }
}

.nav {
    &__list {
        @include flex-v-center;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 48px;
        }
    }

    &__link {
        color: var(--neutrals-4);
        font-size: 14px;
        font-family: var(--font-family-DMSans);
        line-height: 16px;
    }
}

.menu-buttons {
    @include flex;
    justify-content: flex-end;

    &__language {
        margin-right: 8px;
    }

    &__btn-lang-rate {        
        padding: 12px 0 16px 12px;
        color: var(--neutrals-8);
        font-size: 14px;
        font-family: var(--font-family-DMSans);
    }

    &__arrow {
        
    }

    &__sign-up-login {
        .sign-up {
            @include blue-btn;
            margin-right: 8px;
            padding: 12px 16px;            
            font-size: 14px;
        }

        .login {
            padding: 12px 16px;
            border-radius: 90px;
            border: 2px solid var(--neutrals-4);
            color: var(--neutrals-8);
            font-size: 14px;
            font-family: var(--font-family-DMSans);
        }
    }
}

