.navigation {
    width: 100%;
    padding: 1.25em 5em;
    background-color: var(--neutrals-1);
    border-bottom: 1px solid var(--neutrals-2);
}

.menu-items {
    @include flex-all-sb;

    flex-wrap: wrap;
}

.logo {
    @include flex-v-center;

    &__title {
        padding-left: 0.3em;
        color: var(--neutrals-7);
    }
}

.nav {

    &__list {
        @include flex-v-center;

        position: relative;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 3em;
        }

        &:hover > .nav__sub-menu {
          display:inherit;
        }
    }
    &__item_buyCripto {
        position: relative;
        padding-right: 1.3em;
    }

    &__item_buyCripto::after {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        background-image: url('../img/svg/arrow-down-simple-line.svg');
        background-repeat: no-repeat;
        background-position: center;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    &__sub-menu {
        position: absolute;
        display: none;
        top: 1.2em;
        min-width: 170px;
        transition: color .3s;

        &__item {
          display: flex;
          padding-top: 1em;
          padding-bottom: .5em;
        }
    }
}

.menu-buttons {
    @include flex-v-center;


    &__language {
        margin-right: 0.5em;
    }

    &__btn-lang-rate {
        position: relative;
        padding: 1em 3.1em 1em 1.1em;
        font-size: 14px;
    }

    &__btn-lang-rate::after {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        background-image: url('../img/svg/arrow-down-simple-line.svg');
        background-repeat: no-repeat;
        background-position: center;
        right: 14px;
        top: 50%;
        transform: translateY(-50%);
    }

    &__sign-up-login {

        .sign-up {
            @include blue-btn;

            margin-right: 8px;
            padding: 0.8em 1.1em;
        }
        .login {
            padding: 0.8em 1.1em;
            border-radius: 90px;
            border: 2px solid var(--neutrals-4);
            color: var(--neutrals-8);

            &:hover {
              background-color: var(--neutrals-3);
              box-shadow: 0 0 0 2px var(---neutrals-3) inset;
            }
        }
    }
}

