.hero-header {
    @include grid;

    &__content {
        grid-column: 1 / 7;
        margin-top: 161px;
    }

    &__h1 {
        margin-bottom: 20px;
        color: var(--neutrals-8);
        font-size: 64px;
        font-family: var(--font-family-DMSans);
    }

    &__p {
        margin-bottom: 32px;
        color: var(--neutrals-4);
        font-size: 16px;
        font-family: var(--font-family-Poppins-Reg);
    }

    .start-now-button {
        @include blue-btn;
        padding: 16px 24px;
        margin-bottom: 255px;
    }

    &__image {
        grid-column: 7 / 13;
        width: 100%;
    }
}  
