.news {

  &__head {
    @include grid;

    &--title {
      margin-bottom: 0.84em;
    }

    &--navigation {
      grid-column: 5 span;
      margin-bottom: 5em;

      @include small-tablet {
        margin-bottom: 2em;
      }
    }

    &--nav {
      @include flex-all-sb;

      &-item {
        padding: 0.4em 0.8em;

        &:hover {
          background-color: var(--neutrals-3);
          border-radius: 100px;
          color: var(--neutrals-8);
          transition: 0.2s;
        }
      }
    }

    &--btn {
      grid-column: -1 /span 2;
      margin-top: 2em;
    }
  }

  &__section {
    @include grid;

    &--large {
      grid-column: span 6;

      &-head {
        margin-bottom: 1em;
      }

      &-picture {
        margin-bottom: 2.5em;
        width: 100%;
      }
    }

    &--mini {
      grid-column: -6 / span 6;

      @include small-tablet {
        display: none;
      }

      &-head {

        &:not(:last-child) {
          margin-bottom: 2em;
        }
      }

      &-title {
        margin-bottom: 1.1em;
      }

      &-text {
        margin-bottom: 6em;
        font-size: 14px;
      }
    }
  }
}
