.news {
  background-color: var(--neutrals-1);
}

.hotest-news {
    @include grid;


    &__navigation {
        grid-column: 4 span;
        margin-bottom: 5em;
    }

    &__nav {
        @include flex-all-sb;

        &__item {
            padding: 0.4em 0.8em;
            color: var(--neutrals-4);
            font-family: var(--font-family-DMSans);
            font-size: 14px;
            line-height: 16px;
        }

        &__item:hover {
            background-color: var(--neutrals-3);
            border-radius: 100px;
            color: var(--neutrals-8);
            transition: 0.2s;
        }
    }

    &__btn {
      grid-column: 11 / span 3;
      margin-left: 3.3em;

        &__view-more {
            @include btn-clear;
            padding: 1em 1.5em;
        }
    }

    &__h2 {
        @include h2;
        margin-bottom: 0.84em;
    }
}

.news-block {
    @include grid;

    &__h3 {
        margin: 0;
        color: var(--neutrals-8);
        font-family: var(--font-family-DMSans);
        font-size: 32px;
    }

    &__flex {
        @include flex-all-sb;
        margin-bottom: 1em;
    }

    &__large {
        grid-column: span 6;

        &__picture {
            margin-bottom: 2.5em;
            width: 100%;
        }
    }

    &__learn-more-btn {
        @include btn-clear;
        position: relative;
        padding: 0.8125em 3.25em 0.8125em 1.5em;
    }

    &__learn-more-btn::after {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        background-image: url('../img/svg/arrow-right-simple.svg');
        background-repeat: no-repeat;
        background-position: center;
        right: 18px;
        top: 50%;
        transform: translateY(-50%);
    }

    &__p {
        @include p;
    }

    &__mini {
        grid-column: span 6 / 13;
        margin-left: 5em;
    }
    &__post-flex {
        display: flex;
        justify-content: space-between;
        &:not(:last-child) {
            margin-bottom: 2em;
        }
    }


    &__title {
        margin-bottom: 1.1em;
        color: var(--neutrals-8);
        font-family: var(--font-family-Poppins-SB);
        font-size: 16px;
        line-height: 24px;
    }

    &__text,
    &__date {
        @include p;
    }

    &__text {
        margin-bottom: 6em;
    }

}
