.slider {
  padding-top: $padding-section-top;
}
.how-it-work {
    @include grid;

    &__title {
        grid-column: 4 / 10;
        margin-bottom: 5em;
        text-align: center;
        &__h2 {
            @include h2;
            margin-bottom: 0.42em;
            line-height: 56px;
        }
        &__p {
            color: var(--neutrals-6);
            font-family: var(--font-family-Poppins-Reg);
            font-size: 16px;
            line-height: 24px;
        }
    }

    &__blocks {
        grid-column: 1 / 13;
        margin-bottom: 5em;
    }

    &__blocks-flex {
        @include flex-all-sb;
    }

    &__element:first-child {
        margin-left: 3.5em;
    }

    &__element:last-child {
        margin-right: 3.5em;
    }
    &__steps {
        grid-column: 1 / 13;
    }
    &__steps-flex {
        @include flex-all-sb;
    }

    &__step {
        text-align: center;
        &:not(:last-child) {
            margin-right: 2em;
        }
        &__p {
            margin-bottom: 2.67em;
            font-family: var(--font-family-Poppins-SB);
            color: var(--neutrals-4);
            font-size: 12px;
            line-height: 20px;
        }

        &__title {
            margin-bottom: 1em;
            font-family: var(--font-family-Poppins-SB);
            color: var(--neutrals-8);
            font-size: 16px;
            line-height: 24px;
        }

        &__description {
            font-family: var(--font-family-Poppins-Reg);
            color: var(--neutrals-7);
            font-size: 14px;
            line-height: 24px;
        }
    }

}
