.hiw {
  @include grid;

  &__text {
    grid-column: 4 / 10;
    margin-bottom: 5em;
    text-align: center;
    @include small-tablet {
      grid-column: span 6;
    }
    &--title {
      margin-bottom: 0.42em;
    }
    &--description {
      color: var(--neutrals-6);
    }
  }

  &__block {
    grid-column: 1 / 13;
    margin-bottom: 5em;

    &--el:first-child {
      margin-left: 3.5em;
    }

    &--el:last-child {
      margin-right: 3.5em;
    }

    @include small-tablet {
      grid-column: span 6;
    }
  }

  &__steps {
    grid-column: 1 / 13;
    @include small-tablet {
      grid-column: span 6;
    }
  }

  &__step {
    text-align: center;
    &:not(:last-child) {
      margin-right: 2em;
    }
    &--number {
      margin-bottom: 2.67em;
    }

    &--title {
      margin-bottom: 1em;
    }

    &__description {
      color: var(--neutrals-7);
    }
  }
}
