.reset-password {
  background-color: var(--neutrals-7);
  margin-top: 4em;

  &__head {
    @include flex-all-sb;

    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 7em;

    &__link {
      @include flex-v-center;

      &__title {
        padding-left: 0.4em;
        color: var(--neutrals-2);
        font-size: 18px;
        font-family: var(--Poppins-SB);
      }
    }
  }

  &__link {
    &__p {
      color: var(--neutrals-2);
    }
    &__sign-up {
      color: var(--primary-1);
      transition: .3s;
      &:hover {
        color: #071bb8;;
      }
    }
  }

  &__text {
    margin-bottom: 2em;

    &-h3 {
    margin-bottom: .4em;
    color: var(--neutrals-2);
    }

    &-help {
    opacity: 70%;
    }

  }

  &__form {
  width: 100%;
  &-email {
    width: 100%;
    margin-bottom: 1em;
    padding: 1.5em;
    border: 1px solid var(--neutrals-6);
    border-radius: 90px;
    background-color: var(--neutrals-7);
    }
  }
&_note {
  margin-bottom: 1em;
  &-title {
    color: rgba(255, 20, 20, 0.897);
  }
}

  &__continue {
    width: 100%;
    &-btn {
      @include blue-btn;

      width: 100%;
      padding: 1.4em;

      &:hover {
        background-color: #354dffce;
      }
    }
  }
}

.reset-password-wrapper {
  @include flex-all-center;

  flex-wrap: wrap;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
