.sign-up {
  background-color: var(--neutrals-7);
  margin-top: 4em;
  margin-bottom: 5em;

  &__head {
    @include flex-all-sb;

    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 7em;

    &__link {
      @include flex-v-center;

      &__title {
        padding-left: 0.4em;
        color: var(--neutrals-2);
        font-size: 18px;
        font-family: var(--font-family-Poppins-SB);
      }
    }
  }

  &__link {
    &__p {
      color: var(--neutrals-2);
      font-size: 14px;
      font-family: var(--font-family-Poppins-Reg);
    }
    &__login {
      color: var(--primary-1);
      transition: .3s;
      &:hover {
        color: #071bb8;;
      }
    }
  }
}

.sign-up-wrapper {
  @include flex-all-center;

  flex-wrap: wrap;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.registration-btns {
  @include flex-all-sb;
  margin-bottom: 1.4em;


  &__apple {

    &--btn {
    padding: 0.9em 3em;
    border-radius: 90px;
    background-color: var(--shade-2-30);
    color: var(--neutrals-8);
    font-family: var(--font-family-DMSans);
    transition: all .3s;

    &:hover {
      box-shadow: var(--box-shadow);
    }
    }
  }
  &__icon {
    width: 16px;
    height: 16px;
    margin-right: .6em;
  }

  &__google {

    &--btn {
    padding: 0.9em 3em;
    border-radius: 90px;
    border: 2px solid var(--neutrals-6);
    background-color: var(--neutrals-7);
    color: var(--neutrals-2);
    font-family: var(--font-family-DMSans);
    transition: all .3s;


    &:hover {
      box-shadow: var(--box-shadow);
    }
    }
  }
}

.sign-up-form {
  margin-bottom: .8em;
  &__h3 {
    margin-bottom: .4em;
    color: var(--neutrals-2);
    font-family: var(--font-family-DMSans);
    font-size: 38px;
  }
  &__p {
    @include p;

    margin-bottom: 2em;
    opacity: 70%;
  }

  &__p-2 {
    @include p;
    border-top: 1px solid var(--neutrals-6);
    padding-top: 1em;
    margin-bottom: 1em;
    opacity: 70%;
    font-size: 14px;
  }

}


.sign-up-email,
.sign-up-password {
  width: 100%;
  &__email,
  &__password {
    width: 100%;
    margin-bottom: 1em;
    padding: 1.5em;
    border: 1px solid var(--neutrals-6);
    border-radius: 90px;
    background-color: var(--neutrals-7);
    color: var(--neutrals-4);
    font-family: var(--font-family-Poppins-Reg);
    font-size: 14px;
    line-height: 24px;
  }
}

.sign-up-button {
  width: 100%;
  &__btn {
    @include blue-btn;

    width: 100%;
    padding: 1.4em;

    &:hover {
      background-color: #354dffce;
    }
  }
}
.sign-up-privacy-policy {
  margin-top: 1em;
  width: 100%;
  text-align: center;
  &__p {
    @include p;

    font-size: 14px;
  }
  &__link {
    font-family: var(--font-family-Poppins-Reg);
    color: var(--primary-1);
    font-size: 14px;
    transition: .3s;
      &:hover {
        color: #071bb8;;
      }
  }
}
