/* stylelint-disable */

@mixin bg-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin flex {
  display: flex;
}

@mixin flex-v-center {
  display: flex;
  align-items: center;
}

@mixin flex-start-center {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@mixin flex-h-center {
  display: flex;
  justify-content: center;
}

@mixin flex-all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-all-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-sb {
  display: flex;
  justify-content: space-between;
}

$browser-context: 16; // Default

@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}

@mixin image-set($pathToImage) {
  background-image: url("#{$pathToImage}.jpg");
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
  background-image: image-set(
    /* stylelint-disable-next-line function-comma-newline-after */
    "#{$pathToImage}.avif"type("image/avif"),
    "#{$pathToImage}.webp"type("image/webp"),
    "#{$pathToImage}.jpg"type("image/jpg")
  );
}

@mixin footerToBottom {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

@mixin mr($value) {
    &:not(:last-child) {
        margin-right: $value;
    }
}

@mixin ml($value) {
    &:not(:last-child) {
        margin-left: $value;
    }
}

@mixin mb($value) {
    &:not(:last-child) {
        margin-bottom: $value;
    }
}

@mixin mt($value) {
    &:not(:last-child) {
        margin-top: $value;
    }
}

@mixin pseudo() {
    content: "";
    display: block;
}

@mixin grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0 32px;
}

@mixin blue-btn {
  border-radius: 90px;
  background-color: var(--primary-1);
  color: var(--neutrals-8);
  font-family: var(--font-family-DMSans);
}

@mixin btn-clear {
  border: 2px solid #26282E;
  border-radius: 90px;
  color: var(--neutrals-8);
  font-family: var(--font-family-DMSans);
  font-size: 16px;
}

@mixin h2 {
  color: var(--neutrals-8);
  font-family: var(--font-family-DMSans);
  font-size: 48px;
}

@mixin p {
  font-family: var(--font-family-Poppins-Reg);
  color: var(--neutrals-4);
  font-size: 16px;
  line-height: 24px;
}