<div class="banner-block bg-dark">
    <div class="wrapper">
        <div class="banner">
            <div class="banner__content">
                <h1 class="banner__content--title">Buy & sell<br>crypto in minutes</h1>
                <p>Trade Bitcoin, Ethereum, USDT, and the top altcoins on the<br>legendary crypto asset exchange.</p>
                <div class="banner__content--btn">
                  <a href="profile.html" class="btn__start-now p-bold-8">Get started now</a>
                </div>
            </div>
            <div class="banner__image">
                <img src="../img/svg/01.svg" width="692" height="692" class="banner__image--banner" alt="banner">
            </div>
        </div>
        <section class="course-now">
            <div class="course-now__block"><a href="#">
                <img src="../img/svg/bitcoin-symbol.svg" class="course-now__block--picture" width="40" height="40" alt="bitcoin">
                <div class="course-now__block--coin-rate">
                    <p class="course-now__coin p-mini">BTC/USDT</p>
                    <p class="course-now__rate-btc">-0,79%</p>
                </div>
                <h4 class="course-now__price">36,641.20</h4>
                <p class="course-now__price-little p-mini">36,641.20</p>
            </a></div>
            <div class="course-now__block"><a href="#">
                <img src="../img/svg/chainlink-symbol.svg" class="course-now__block--picture" width="40" height="40" alt="chainlink">
                <div class="course-now__block--coin-rate">
                    <p class="course-now__coin p-mini">BTC/USDT</p>
                    <p class="course-now__rate">-0,79%</p>
                </div>
                <h4 class="course-now__price">36,641.20</h4>
                <p class="course-now__price-little p-mini">36,641.20</p>
            </a></div>
            <div class="course-now__block"><a href="#">
                <img src="../img/svg/fantom-symbol.svg" class="course-now__block--picture" width="40" height="40" alt="fantom">
                <div class="course-now__block--coin-rate">
                    <p class="course-now__coin p-mini">BTC/USDT</p>
                    <p class="course-now__rate">+0.79%</p>
                </div>
                <h4 class="course-now__price">36,641.20</h4>
                <p class="course-now__price-little p-mini">36,641.20</p>
            </a></div>
            <div class="course-now__block"><a href="#">
                <img src="../img/svg/ripple-symbol.svg" class="course-now__block--picture" width="40" height="40" alt="ripple">
                <div class="course-now__block--coin-rate">
                    <p  class="course-now__coin p-mini">BTC/USDT</p>
                    <p class="course-now__rate">+0.79% </p>
                </div>
                <h4 class="course-now__price">36,641.20</h4>
                <p class="course-now__price-little p-mini">36,641.20</p>
            </a></div>
        </section>
    </div>
</div>
