<div class="banner-block">
    <div class="wrapper">
        <div class="banner">
            <div class="banner__content">
                <h1 class="banner__h1">Buy & sell<br>crypto in minutes</h1>
                <p class="banner__p">Trade Bitcoin, Ethereum, USDT, and the top altcoins on the<br>legendary crypto asset exchange.</p>
                <div class="banner__btn">
                  <a href="#" class="banner__btn__start-now">Get started now</a>
                </div>
            </div>
            <div class="banner__image">
                <img src="../img/svg/01.svg" width="692" height="692" class="banner__img" alt="banner">
            </div>
        </div>
        <section class="course-now">
            <div class="course-now__block-1 blocks-hh"><a href="#">
                <img src="../img/svg/bitcoin-symbol.svg" class="coin-symbol" width="40" height="40" alt="bitcoin">
                <div class="course-now__coin-rate">
                    <p class="course-now__coin">BTC/USDT</p>
                    <p class="course-now__rate-btc">-0,79%</p>
                </div>
                <p class="course-now__price">36,641.20</p>
                <p class="course-now__price-little">36,641.20</p>
            </a></div>
            <div class="course-now__block-2 blocks-hh"><a href="#">
                <img src="../img/svg/chainlink-symbol.svg" class="coin-symbol" width="40" height="40" alt="chainlink">
                <div class="course-now__coin-rate">
                    <p class="course-now__coin">BTC/USDT</p>
                    <p class="course-now__rate">-0,79%</p>
                </div>
                <p class="course-now__price">36,641.20</p>
                <p class="course-now__price-little">36,641.20</p>
            </a></div>
            <div class="course-now__block-3 blocks-hh"><a href="#">
                <img src="../img/svg/fantom-symbol.svg" class="coin-symbol" width="40" height="40" alt="fantom">
                <div class="course-now__coin-rate">
                    <p class="course-now__coin">BTC/USDT</p>
                    <p class="course-now__rate">+0.79%</p>
                </div>
                <p class="course-now__price">36,641.20</p>
                <p class="course-now__price-little">36,641.20</p>
            </a></div>
            <div class="course-now__block-4 blocks-hh"><a href="#">
                <img src="../img/svg/ripple-symbol.svg" class="coin-symbol" width="40" height="40" alt="ripple">
                <div class="course-now__coin-rate">
                    <p  class="course-now__coin">BTC/USDT</p>
                    <p class="course-now__rate">+0.79% </p>
                </div>
                <p class="course-now__price">36,641.20</p>
                <p class="course-now__price-little">36,641.20</p>
            </a></div>
        </section>
    </div>
</div>
