<div id="become-trader" class="bg-p-become-trader">
    <div class="wrapper">
        <div class="become-trader">
            <div class="become-trader__title">
                <h2 class="become-trader__h2">Become a crypto<br>trader in seconds</h2>
                <p class="become-trader__p">We've got everything you need to start trading.</p>
            </div>
            <div class="become-trader__containers">
                <div class="become-trader__container-1">
                    <img src="../img/svg/composition_12.svg" width="160" height="160" alt="composition 12">
                    <p class="become-trader__p-title p-bold-sans">Buy & Sell Crypto</p>
                    <p class="become-trader__description p-14">We realize ideas from simple to complex, everything becomes easy to use and reach the most potential customers.</p>
                </div>
            </div>
            <div class="become-trader__containers">
                <div class="become-trader__container-2">
                    <img src="../img/svg/composition_13.svg" width="160" height="160" alt="composition 13">
                    <p class="become-trader__p-title p-bold-sans">Trade Assets</p>
                    <p class="become-trader__description p-14">We realize ideas from simple to complex, everything becomes easy to use and reach the most potential customers.</p>
                </div>
            </div>
            <div class="become-trader__containers">
                <div class="become-trader__container-3">
                    <img src="../img/svg/composition_14.svg" width="160" height="160" alt="composition 14">
                    <p class="become-trader__p-title p-bold-sans">Earn Rewards for Trading</p>
                    <p class="become-trader__description p-14">We realize ideas from simple to complex, everything becomes easy to use and reach the most potential customers.</p>
                </div>
            </div>
            <div class="become-trader__btn">
                <a href="#" class="become-trader__btn__contact-us">Contact Us</a>
            </div>
        </div>
    </div>
</div>
