<div id="become-trader" class="bg-ultra-dark pt-section">
  <div class="wrapper">
    <div class="become-trader">
      <div class="become-trader__text">
        <h2 class="become-trader__text--title">Become a crypto<br>trader in seconds</h2>
        <p>We've got everything you need to start trading.</p>
      </div>
      <div class="become-trader__container">
        <img src="./img/svg/composition_12.svg" loading="lazy" width="160" height="160" alt="composition 12">
        <p class="become-trader__container--title p-bold-sans">Buy & Sell Crypto</p>
        <p class="become-trader__container--description p-14">We realize ideas from simple to complex, everything becomes easy to use and reach the most potential customers.</p>
      </div>
      <div class="become-trader__container">
        <img src="./img/svg/composition_13.svg" loading="lazy" width="160" height="160" alt="composition 13">
        <p class="become-trader__container--title p-bold-sans">Trade Assets</p>
        <p class="become-trader__container--description p-14">We realize ideas from simple to complex, everything becomes easy to use and reach the most potential customers.</p>
      </div>
      <div class="become-trader__container">
        <img src="./img/svg/composition_14.svg" loading="lazy" width="160" height="160" alt="composition 14">
        <p class="become-trader__container--title p-bold-sans">Earn Rewards for Trading</p>
        <p class="become-trader__container--description p-14">We realize ideas from simple to complex, everything becomes easy to use and reach the most potential customers.</p>
      </div>
      <div class="become-trader__btn">
        <a href="#" class="btn__contact-us">Contact Us</a>
      </div>
    </div>
  </div>
</div>
