<div id="download" class="trade-anywhere">
  <div class="wrapper">
    <div class="download">
      <div class="download__block">
        <div class="download__block--text">
            <h2>Trade anywhere</h2>
            <p class="download__block--text-description p-14">Anytime, anywhere. Trade crypto on your terms.</p>
        </div>
        <div class="download__store-list">
          <div class="download__store">
            <img src="../img/svg/apple.svg" class="download__app-icon" width="56" height="56" alt="apple">
            <div>
                <p class="p-14">Download from</p>
                <h4 class="download__app h4">Appstore</h4>
            </div>
          </div>
          <div class="download__store">
            <img src="../img/svg/google-play.svg" class="download__app-icon" width="56" height="56" alt="apple">
            <div>
                <p class="p-14">Download from</p>
                <h4 class="download__app">Google Play</h4>
            </div>
          </div>
          <div class="download__store">
            <img src="../img/svg/apple.svg" class="download__app-icon" width="56" height="56" alt="apple">
            <div>
                <p class="p-14">Download for</p>
                <h4 class="download__app">Mac OS</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="download__bg">
          <img src="../img/svg/composition_3.svg" width="800" height="900">
      </div>
    </div>
  </div>
</div>
