<footer id="footer" class="footer-border bg-dark">
  <div class="wrapper-footer">
    <div class="footer">
      <div class="footer__block-1 footer__blocks">
        <a href="#" class="footer__logo__link">
          <img src="./img/svg/logo.svg" width="32" height="32" alt="logo">
        </a>
        <ul class="footer__nav list-reset">
          <li class="footer__nav--item"><a href="#" class="p-14">About</a></li>
          <li class="footer__nav--item"><a href="#" class="p-14">Projects</a></li>
          <li class="footer__nav--item"><a href="#" class="p-14">What We Do</a></li>
          <li class="footer__nav--item"><a href="#" class="p-14">Press</a></li>
          <li class="footer__nav--item"><a href="#" class="p-14">Jobs</a></li>
        </ul>
      </div>
      <div class="footer__block-2 footer__blocks">
        <p class="footer__contact">contact</p>
        <p class="footer__adress p-14">59 avenue<br>de Bouvines<br>Paris</p>
        <p class="footer__tel p-14">123-456-7890</p>
      </div>
      <div class="footer__block-3 footer__blocks">
        <p class="footer__newsletter">newsletter</p>
        <p class="footer__subscribe p-14">Subscribe our newsletter to get more free coins</p>
        <form class="footer__input">
          <input type="email" name="email" class="footer__input--email p-14 input-reset" id="email_input" required="required" placeholder="Enter your email">
          <button class="footer__input--btn btn-reset" type="submit" value="Submit">
            <img src="./img/svg/small.svg" width="32" height="32" alt="send">
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="bottom-bar-border">
    <div class="bottom-bar">
      <div class="bottom-bar__copyright">
        <p class="p-mini">Copyright © 2022 UI8 LLC. All rights reserved</p>
      </div>
      <div class="bottom-bar__socials">
        <a href="http://www.facebook.com" class="bottom-bar__socials--icon"><img src="./img/svg/facebook.svg" width="20" height="20" alt="facebook"></a>
        <a href="http://www.twitter.com" class="bottom-bar__socials--icon"><img src="./img/svg/twitter.svg" width="20" height="20" alt="twitter"></a>
        <a href="http://www.instagram.com" class="bottom-bar__socials--icon"><img src="./img/svg/instagram.svg" width="20" height="20" alt="instagram"></a>
      </div>
    </div>
  </div>
</footer>
