<header>
    <div class="wrapper-navigation">
        <div class="navigation">
            <div class="nav-logo">
                <img src="" alt="logo">
                <h3 class="bitcloud">BitCloud</h3>
            </div>
            <ul class="nav-menu">
                <li>Exchange</li>
                <li class="nav-li-active">Buy Crypto</li>
                <li>Market</li>
                <li>Discover</li>
            </ul>
            <div class="currency">
                <p>EN/USD</p>
            </div>
            /*button*/
        </div>
    </div>
</header>
