<div id="news" class="news">
    <div class="wrapper">
        <div class="hotest-news">
            <div class="hotest-news__navigation">
                <h2 class="hotest-news__h2">Learn crypto</h2>
                <ul class="hotest-news__nav list-reset">
                    <a href="#"><li class="hotest-news__nav__item">All</li></a>
                    <a href="#"><li class="hotest-news__nav__item">Bitcoin</li></a>
                    <a href="#"><li class="hotest-news__nav__item">Blockchain</li></a>
                    <a href="#"><li class="hotest-news__nav__item">Tutorial</li></a>
                </ul>
            </div>
            <div class="hotest-news__btn">
                <button type="button" class="hotest-news__btn__view-more btn-reset">View more</button>
            </div>
        </div>
        <div class="news-block">
            <div class="news-block__large">
                <img src="../img/svg/composition_15.svg" class="news-block__large__picture" width="542" height="510" alt="learn crypto">
                <div class="news-block__flex">
                    <h3 class="news-block__h3">Leveraged Tokens<br>Now Available</h3>
                    <button type="button" class="news-block__learn-more-btn btn-reset">Learn more</button>
                </div>
                <p class="news-block__p">Good things come in 3s. Get 3x Leveraged<br>tokens now.</p>
            </div>
            <div class="news-block__mini">
                <div class="news-block__post-flex">
                    <div class="news-block__post">
                        <p class="news-block__title">Leveraged Tokens<br>Now available</h4>
                        <p class="news-block__text">Good things come in 3s. Get 3x leveraged tokens now.</p>
                        <p class="news-block__date">Jun 1, 2022</p>
                    </div>
                    <img src="../img/svg/composition_11.svg" width="220" height="220" alt="composition 11">
                </div>
                <div class="news-block__post-flex">
                    <div class="news-block__post">
                        <p class="news-block__title">Leveraged Tokens<br>Now available</h4>
                        <p class="news-block__text">Good things come in 3s. Get 3x leveraged tokens now.</p>
                        <p class="news-block__date">Jun 1, 2022</p>
                    </div>
                    <img src="../img/svg/composition_06.svg" width="220" height="220"  alt="composition 06">
                </div>
                <div class="news-block__post-flex">
                    <div class="news-block__post">
                        <p class="news-block__title">Leveraged Tokens<br>Now available</h4>
                        <p class="news-block__text">Good things come in 3s. Get 3x leveraged tokens now.</p>
                        <p class="news-block__date">Jun 1, 2022</p>
                    </div>
                    <img src="../img/svg/composition_02.svg" width="220" height="220" alt="composition 02">
                </div>
            </div>
        </div>
    </div>
</div>
