<div id="news" class="news">
  <div class="wrapper">
    <div class="news__head">
        <div class="news__head--navigation">
            <h2 class="news__head--title">Learn crypto</h2>
            <ul class="news__head--nav list-reset">
                <a href="#"><li class="news__head--nav-item p-14-bold ">All</li></a>
                <a href="#"><li class="news__head--nav-item p-14-bold ">Bitcoin</li></a>
                <a href="#"><li class="news__head--nav-item p-14-bold ">Blockchain</li></a>
                <a href="#"><li class="news__head--nav-item p-14-bold ">Tutorial</li></a>
            </ul>
        </div>
        <div class="news__head--btn">
            <a href="learn.html" class="btn__view-more">View more</a>
        </div>
    </div>
        <div class="news-block">
            <div class="news-block__large">
                <img src="../img/svg/composition_15.svg" class="news-block__large__picture" width="542" height="510" alt="learn crypto">
                <div class="news-block__flex">
                    <h3 class="news-block__main-title">Learn About <br>Crypto Casually</h3>
                    <a href="learn.html" class="news-block__learn-more-btn">Learn more</a>
                </div>
                <p class="p">Use CryptoWallet to buy, sell, and trade crypto</p>
            </div>
            <div class="news-block__mini">
                <div class="news-block__post-flex">
                    <div class="news-block__post">
                        <p class="news-block__title p-bold-sans">Learn About <br>Crypto Casually</h4>
                        <p class="news-block__text">5 Blockchain Games to Watch in August 2022 and Beyond</p>
                        <p class="news-block__date">Jun 1, 2022</p>
                    </div>
                    <img src="../img/svg/composition_11.svg" width="220" height="220" alt="composition 11">
                </div>
                <div class="news-block__post-flex">
                    <div class="news-block__post">
                        <p class="news-block__title p-bold-sans">Learn About <br>Crypto Casually</h4>
                        <p class="news-block__text">Above Phone Partners with Presearch to Enhance Privacy and Security</p>
                        <p class="news-block__date">Jun 1, 2022</p>
                    </div>
                    <img src="../img/svg/composition_06.svg" width="220" height="220"  alt="composition 06">
                </div>
                <div class="news-block__post-flex">
                    <div class="news-block__post">
                        <p class="news-block__title p-bold-sans">Learn About <br>Crypto Casually</h4>
                        <p class="news-block__text">BIT Mining Assures Investors Amidst NYSE Delisting Risk</p>
                        <p class="news-block__date">Jun 1, 2022</p>
                    </div>
                    <img src="../img/svg/composition_02.svg" width="220" height="220" alt="composition 02">
                </div>
            </div>
        </div>
    </div>
</div>
