<div id="how-it-work" class="pt-section bg-dark">
  <div class="wrapper">
    <div class="hiw">
      <div class="hiw__text">
        <h2 class="hiw__text--title">How it work</h2>
        <p class="hiw__text--description">Stacks is a production-ready library of stackable<br>content blocks built in React Native.</p>
      </div>
      <div class="hiw__block">
        <div class="flex-sb-center">
          <div class="hiw__block--el">
            <img src="./img/svg/composition_04.svg" width="96" height="96" alt="composition 04">
          </div>
          <div class="hiw__block--el">
            <img src="./img/svg/connect-line.svg" width="160" height="12" alt="connect-line">
          </div>
          <div class="hiw__block--el">
            <img src="./img/svg/composition_03.svg" width="96" height="96" alt="composition 03">
          </div>
          <div class="hiw__block--el">
            <img src="./img/svg/connect-line.svg" width="160" height="12" alt="connect-line">
          </div>
          <div class="hiw__block--el">
            <img src="./img/svg/composition_05.svg" width="96" height="96" alt="composition 05">
          </div>
          <div class="hiw__block--el">
            <img src="./img/svg/connect-line.svg" width="160" height="12" alt="connect-line">
          </div>
          <div class="hiw__block--el">
            <img src="./img/svg/composition_07.svg" width="96" height="96" alt="composition 07">
          </div>
        </div>
      </div>
      <div class="hiw__steps">
        <div class="flex-sb-center">
          <div class="hiw__step">
            <p class="hiw__step--number p-mini">Step 1</p>
            <p class="hiw__step--title p-bold-sans">Download</p>
            <p class="hiw__step--description p-14">Trade Bitcoin, Ethereum, USDT, and the top altcoins on the legendary crypto asset exchange.</p>
          </div>
          <div class="hiw__step">
            <p class="hiw__step--number p-mini">Step 2</p>
            <p class="hiw__step--title p-bold-sans">Connect wallet</p>
            <p class="hiw__step--description p-14">Trade Bitcoin, Ethereum, USDT, and the top altcoins on the legendary crypto asset exchange.</p>
          </div>
          <div class="hiw__step">
            <p class="hiw__step--number p-mini">Step 3</p>
            <p class="hiw__step--title p-bold-sans">Start trading</p>
            <p class="hiw__step--description p-14">Trade Bitcoin, Ethereum, USDT, and the top altcoins on the legendary crypto asset exchange.</p>
          </div>
          <div class="hiw__step">
            <p class="hiw__step--number p-mini">Step 4</p>
            <p class="hiw__step--title p-bold-sans">Earn money</p>
            <p class="hiw__step--description p-14">Trade Bitcoin, Ethereum, USDT, and the top altcoins on the legendary crypto asset exchange.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
