<div id="learn" class="learn-page bg-dark">
  <div class="wrapper">
      <div class="learn">
        <div class="learn__content">
          <h1 class="learn__title">Learn & Earn<br>Back with new Rewards!</h1>
          <p>Learn and Earn courses are now back with new rewards! Read, watch, take quizzes, and receive Cashback Vouchers for every lesson you pass. Each time you make a trade, these vouchers will give you a portion of your fees back!</p>
          <div class="learn__btn">
            <a href="#" class="btn__start-now p-bold-8">Get started now</a>
          </div>
        </div>
        <div class="learn__image">
          <img src="./img/svg/01.svg" loading="lazy" width="692" height="692" class="learn__img" alt="banner">
        </div>
        <div class="left-column">
          <section class="featured-section">
            <h3 class="featured-section__title">Featured</h3>
            <img src="./img/svg/composition_15.svg" loading="lazy" class="featured-section__picture" width="542" height="510" alt="composition 15">
            <div class="featured-section__content">
              <h4><a href="#" class="featured-section__content-link">What are Highs and Lows in Trading: The World of Financial Highs and Lows</a></h4>
              <p class="featured-section__content-meta post-meta p-mini"><span class="post-author">By Contributor</span> | <span class="post-date">August 21, 2022</span></p>
              <p class="featured-section__content-text">The world of trading strategies is full of terminology. For example, highs, lows, higher lows, lower lows, and higher...</p>
            </div>
          </section>
        </div>
        <div class="right-column">
          <section class="popular-section">
            <h3 class="popular-section__title">Popular</h3>
            <ul class="list-reset">
              <li class="popular-section__item p-bold-sans"><a href="#" class="popular-section__link">Bears Are Back as Bitcoin Falls to a Key Resistance Level of $21,000</a></li>
              <li class="popular-section__item p-bold-sans"><a href="#" class="popular-section__link">Above Phone Partners with Presearch to Enhance Privacy and Security</a></li>
              <li class="popular-section__item p-bold-sans"><a href="#" class="popular-section__link">DIFC And Emirates NBD Launches Metaverse Accelerator Programme for Start-ups</a></li>
            </ul>
          </section>
          <section class="new-section">
            <h3 class="new-section__title">New</h3>
            <ul class="list-reset">
              <li class="new-section__item p-bold-sans"><a href="#" class="new-section__link">Square Yards Launches a 3D Metaverse Platform Depicting Dubai’s Real Estate</a></li>
              <li class="new-section__item p-bold-sans"><a href="#" class="new-section__link">Use CryptoWallet to buy, sell, and trade crypto</a></li>
              <li class="new-section__item p-bold-sans"><a href="#" class="new-section__link">5 Blockchain Games to Watch in August 2022 and Beyond</a></li>
              <li class="new-section__item p-bold-sans"><a href="#" class="new-section__link">BIT Mining Assures Investors Amidst NYSE Delisting Risk</a></li>
            </ul>
          </section>
        </div>
      </div>
      <div class="start-here-block">
        <div class="start-here-block__title">
          <h3 class="start-here-block__h3">New To BitMarket?</h3>
        </div>
        <div class="start-here-block__bitton">
          <a href="sign-up.html" class="start-here-block__btn p-bold-8">Start here</a>
        </div>
      </div>
      <div class="crypto-insights">
        <div class="crypto-insights__item">
          <h3 class="h3">Crypto Insights</h3>
          <p class="crypto-insights__description">Here you will find the history and technology behind Bitcoin and other popular altcoins. Learn how Cryptos are shaping Web 3.0.</p>
          <a href="#" class="crypto-insights__view-all"><p class="crypto-insights__link p-14">View All</p></a>
        </div>
        <div class="crypto-insights__item">
          <a href="#" class="">
            <img src="./img/svg/composition_02.svg" loading="lazy" class="crypto-insights__pic" width="220" height="220" alt="composition 02">
            <p class="p-bold-8">Buy Low, Sell High Crypto: 4 Things...</p>
            <p class="crypto-insights__meta p-mini">By Contributor | August 22, 2022</p>
          </a>
        </div>
        <div class="crypto-insights__item">
          <a href="#" class="">
            <img src="./img/svg/composition_02.svg" loading="lazy" class="crypto-insights__pic" width="220" height="220"  alt="composition 02">
            <p class="p-bold-8">What is Solscan: A One-Stop Solana Block...</p>
            <p class="crypto-insights__meta p-mini">By Contributor | August 20, 2022</p>
          </a>
        </div>
        <div class="crypto-insights__item">
          <a href="#" class="">
            <img src="./img/svg/composition_02.svg" loading="lazy" class="crypto-insights__pic" width="220" height="220" alt="composition 02">
            <p class="p-bold-8">What is Aptos: Gunning for One Billion...</p>
            <p class="crypto-insights__meta p-mini">By Contributor | August 14, 2022</p>
          </a>
        </div>
      </div>
      <div class="technical-analysis">
        <div class="technical-analysis__item">
          <h3 class="h3">Technical Analysis</h3>
          <p class="technical-analysis__description">Crypto Technical analysis helps traders identify opportunities to trade. Learn with the best charting indicators and candlestick patterns.</p>
          <a href="#" class="technical-analysis__view-all"><p class="technical-analysis__link p-14">View All</p></a>
        </div>
        <div class="technical-analysis__item">
          <a href="#" class="">
            <img src="./img/svg/composition_02.svg" loading="lazy" class="technical-analysis__pic" width="220" height="220" alt="composition 02">
            <p class="p-bold-8">What Is Volume-Price Trend? Bitcoin Trading With...</p>
            <p class="technical-analysis__meta p-mini">By Contributor | August 7, 2022</p>
          </a>
        </div>
        <div class="technical-analysis__item">
          <a href="#" class="">
            <img src="./img/svg/composition_02.svg" loading="lazy" class="technical-analysis__pic" width="220" height="220"  alt="composition 02">
            <p class="p-bold-8">What are Robo Advisors: How Artificial Intelligence...</p>
            <p class="technical-analysis__meta p-mini">By Contributor | August 11, 2022</p>
          </a>
        </div>
        <div class="technical-analysis__item">
          <a href="#" class="">
            <img src="./img/svg/composition_02.svg" loading="lazy" class="technical-analysis__pic" width="220" height="220" alt="composition 02">
            <p class="p-bold-8">Triple Bottom Pattern & Triple Top Pattern...</p>
            <p class="technical-analysis__meta p-mini">By Contributor | August 24, 2022</p>
          </a>
        </div>
      </div>
  </div>
</div>
