<div id="login" class="login-block bg-light">
  <div class="login-block__head">
    <div class="login-block__head__logo">
      <a href="index.html" class="login-block__head__link">
        <img src="../img/svg/logo.svg" width="32" height="32" alt="logo">
        <p class="login-block__head__link__title">BitMarket</p>
      </a>
    </div>
    <div class="login-block__link">
      <p class="login-block__link__p p-14">Don’t have an account? <a href="sign-up.html" class="login-block__link__sign-up">Sign up for free</a></p>
    </div>
  </div>
  <div class="login-wrapper">
    <div class="login-form">
      <h3 class="login-form__h3">Login to BitMarket</h3>
      <p class="login-form__check">Please check that you are visiting the correct URL</p>
      <p class="login-form__url">https://bitmarket.com/login</p>
    </div>
    <div class="login-email p-14">
      <input class="login-email__email" autocomplete="on" placeholder="email" type="text" maxlength>
    </div>
    <div class="login-password p-14">
      <input class="login-password__password" autocomplete="on" placeholder="password" type="password">
    </div>
    <div class="login-button">
      <button class="login-button__btn btn-reset" value="Login">Log In</button>
    </div>
    <div class="reset-password">
      <a href="reset-password.html" class="reset-password__link p-14">Reset Password</a>
    </div>
  </div>
</div>
