<div id="market-trend" class="trend-page">
    <div class="wrapper">
        <div class="market-trend">
            <div class="market-trend__navigation">
                <h2 class="market-trend__h2">Market trend</h2>
                <ul class="market-trend__nav list-reset">
                    <a href="#"><li class="market-trend__nav--item p-14-bold">All</li></a>
                    <a href="#"><li class="market-trend__nav--item p-14-bold">DeFi</li></a>
                    <a href="#"><li class="market-trend__nav--item p-14-bold">Innovation</li></a>
                    <a href="#"><li class="market-trend__nav--item p-14-bold">POS</li></a>
                    <a href="#"><li class="market-trend__nav--item p-14-bold">NFT</li></a>
                    <a href="#"><li class="market-trend__nav--item p-14-bold">POW</li></a>
                    <a href="#"><li class="market-trend__nav--item p-14-bold">Storage</li></a>
                </ul>
            </div>
            <div class="market-trend__btn">
                <a href="#" class="market-trend__btn__view-more">View more</a>
            </div>
        </div>
        <div class="table">
            <div class="table__row">
                <div class="table__header-col p-14 table__header">#</div>
                <div class="table__header-col p-14 table__header">Name</div>
                <div class="table__header-col p-14 table__header">Price</div>
                <div class="table__header-col p-14 table__header">24h change</div>
                <div class="table__header-col p-14 table__header">Chart</div>
                <div class="table__header-col p-14 table__header">Trade</div>
            </div>
            <a href="#" class="table__row table__link">
                <div class="table__column">1</div>
                <div class="table__column">
                    <div class="table__column__el">
                        <div class="table__column__el__icon">
                            <img src="../img/svg/bitcoin-symbol.svg" width="40" height="40" alt="bitcoin">
                        </div>
                        <p class="table__column__el__title">Bitcoin</p>
                        <p class="table__column__el__subtitle">btc</p>
                    </div>
                </div>
                <div class="table__column"><span class="table__price">$24 040,8677</span></div>
                <div class="table__column"><span class="table__price-change table__price-plus">+1.71%</span></div>
                <div class="table__column">
                    <img src="../img/svg/chart_1.svg" class="table__chart" alt="STATIC">
                </div>
                <div class="table__column">
                    <button type="button" class="table__btn btn-reset">Trade</button>
                </div>
            </a>
            <a href="#" class="table__row table__link">
                <div class="table__column">2</div>
                <div class="table__column">
                    <div class="table__column__el">
                        <div class="table__column__el__icon">
                            <img src="../img/svg/ethereum.svg" width="40" height="40" alt="ethereum">
                        </div>
                        <p class="table__column__el__title">Ethereum</p>
                        <p class="table__column__el__subtitle">eth</p>
                    </div>
                </div>
                <div class="table__column"><span class="table__price">$1,907.64</span></div>
                <div class="table__column"><span class="table__price-change table__price-plus">+2.05%</span></div>
                <div class="table__column">
                    <img src="../img/svg/chart_2.svg" class="table__chart" alt="STATIC">
                </div>
                <div class="table__column">
                    <button type="button" class="table__btn btn-reset">Trade</button>
                </div>
            </a>
            <a href="#" class="table__row table__link">
                <div class="table__column">3</div>
                <div class="table__column">
                    <div class="table__column__el">
                        <div class="table__column__el__icon">
                            <img src="../img/svg/bitcoin-cash.svg" width="40" height="40" alt="bitcoin cash">
                        </div>
                        <p class="table__column__el__title">Bitcoin Cash</p>
                        <p class="table__column__el__subtitle">bch</p>
                    </div>
                </div>
                <div class="table__column"><span class="table__price">$137.7</span></div>
                <div class="table__column"><span class="table__price-change table__price-minus">-2.97%</span></div>
                <div class="table__column">
                    <img src="../img/svg/chart_3.svg" class="table__chart" alt="STATIC">
                </div>
                <div class="table__column">
                    <button type="button" class="table__btn btn-reset">Trade</button>
                </div>
            </a>
            <a href="#" class="table__row table__link">
                <div class="table__column">4</div>
                <div class="table__column">
                    <div class="table__column__el">
                        <div class="table__column__el__icon">
                            <img src="../img/svg/ripple-symbol.svg" width="40" height="40" alt="ripple">
                        </div>
                        <p class="table__column__el__title">Ripple</p>
                        <p class="table__column__el__subtitle">xrp</p>
                    </div>
                </div>
                <div class="table__column"><span class="table__price">$0.37626</span></div>
                <div class="table__column"><span class="table__price-change table__price-plus">+1,40%</span></div>
                <div class="table__column">
                    <img src="../img/svg/chart_4.svg" class="table__chart" alt="STATIC">
                </div>
                <div class="table__column">
                    <button type="button" class="table__btn btn-reset">Trade</button>
                </div>
            </a>
            <a href="#" class="table__row table__link">
                <div class="table__column">5</div>
                <div class="table__column">
                    <div class="table__column__el">
                        <div class="table__column__el__icon">
                            <img src="../img/svg/chainlink-symbol.svg" width="40" height="40" alt="Chainlink">
                        </div>
                        <p class="table__column__el__title">Chainlink</p>
                        <p class="table__column__el__subtitle">link</p>
                    </div>
                </div>
                <div class="table__column"><span class="table__price">$8.6697</span></div>
                <div class="table__column"><span class="table__price-change table__price-minus">-0.15%</span></div>
                <div class="table__column">
                    <img src="../img/svg/chart_5.svg" class="table__chart" alt="STATIC">
                </div>
                <div class="table__column">
                    <button type="button" class="table__btn btn-reset">Trade</button>
                </div>
            </a>
        </div>
    </div>
</div>
