<div class="profile-info bg-dark">
  <div class="wrapper">
    <div class="profile">
      <section class="profile-sidebar">
        <div class="profile-sidebar__flex">
          <a class="profile-sidebar__link"><img src="./img/svg/user-avatar.svg">Profile</a>
          <a class="profile-sidebar__link">Referrals</a>
          <a class="profile-sidebar__link">AOI keys</a>
          <a class="profile-sidebar__link">Sessions & login history</a>
          <a class="profile-sidebar__link">2FA</a>
          <a class="profile-sidebar__link">Change password</a>
        </div>
      </section>
    </div>
  </div>
</div>
