<div id="reset-password" class="reset-password bg-light">
  <div class="reset-password__head">
    <div class="reset-password__head__logo">
      <a href="index.html" class="reset-password__head__link">
        <img src="../img/svg/logo.svg" width="32" height="32" alt="logo">
        <p class="reset-password__head__link__title">BitMarket</p>
      </a>
    </div>
    <div class="reset-password__link">
      <p class="reset-password__link__p p-14">Don’t have an account? <a href="sign-up.html" class="reset-password__link__sign-up">Sign up for free</a></p>
    </div>
  </div>
  <div class="reset-password-wrapper">
    <div class="reset-password__text">
      <h3 class="reset-password__text-h3">Reset password</h3>
      <p class="reset-password__text-help">We’ll help you reset it and get back on track.</p>
    </div>
    <div class="reset-password__form p-14">
      <input class="reset-password__form-email" autocomplete="on" placeholder="email" type="text" maxlength>
    </div>
    <div class="reset-password_note">
      <p class="reset-password_note-title p-mini">Note: Withdrawals will be disabled for 24 hours after a Password Reset.</p>
    </div>
    <div class="reset-password__continue">
      <button class="reset-password__continue-btn btn-reset" value="Continue">Continue</button>
    </div>
</div>
