<div id="crypto-news" class="slideshow">
  <div class="crypto-news wrapper">
      <div class="crypto-news__block">
          <div class="crypto-news__logo">
              <img src="../img/svg/logo.svg" width="32" height="32" alt="BitMarket">
              <h4 class="crypto-news__logo-h4">BitMarket</h4>
          </div>
          <div class="crypto-news__titile">
              <h2 class="crypto-news__titile-h2 h2">Stay in the know on<br>crypto with BitCloud</h2>
              <p class="crypto-news__titile-p p">A creative agency that lead and inspire</p>
          </div>
      </div>
      <div class="swiper crypto-news__content">
          <div class="swiper-wrapper">
              <div class="swiper-slide">
                  <div class="crypto-news__item">
                      <div class="crypto-news__description">
                          <p class="crypto-news__description-p">crypto news</p>
                          <h4 class="crypto-news__description-h4 h4">Be Part of our Global<br>Community</h4>
                          <p class="crypto-news__description__text p">Let’s stay in touch. Join our communities to keep up with the BitCloud team and our traders from across the world.</p>
                          <div class="crypto-news__btn">
                              <a class="crypto-news__btn__join-now p-14-bold">Join now</a>
                          </div>
                      </div>
                      <picture>
                          <source srcset="img/img.avif" type="image/avif">
                          <source srcset="img/img.webp" type="image/webp">
                          <img loadig="lazy" src="../img/img.png" class="crypto-news__pic" width="352" height="384">
                      </picture>
                  </div>
              </div>
          </div>
      </div>
      <div class="container_crypto">
          <div class="crypto-news__nav">
            <div class="crypto-news__btns">
              <button class="btn-reset crypto-news__slider-btn crypto-news__slider-btn--prev" aria-label="Previous slide"></button>
              <button class="btn-reset crypto-news__slider-btn crypto-news__slider-btn--next" aria-label="Next slide"></button>
            </div>
          </div>
      </div>
  </div>
</div>
