html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  margin: 0;
  color: var(--neutrals-8);
  font-size: 64px;
  font-family: var(--font-family-DMSans);
  font-weight: 700;
  line-height: 64px;
  @include small-tablet {
    font-size: 60px;
  }
}
h2 {
  margin: 0;
  color: var(--neutrals-8);
  font-size: 48px;
  font-family: var(--font-family-DMSans);
  font-weight: 700;
  line-height: 56px;
  @include small-tablet {
    font-size: 44px;
  }
}

h3 {
  margin: 0;
  color: var(--neutrals-8);
  font-size: 32px;
  font-family: var(--font-family-DMSans);
  font-weight: 700;
  line-height: 40px;
  @include small-tablet {
    font-size: 28px;
  }
}

h4 {
  margin: 0;
  color: var(--neutrals-8);
  font-size: 24px;
  font-family: var(--font-family-Poppins-SB);
  font-weight: 400;
  line-height: 32px;
  @include small-tablet {
    font-size: 22px;
  }
}

p {
  margin: 0;
  color: var(--neutrals-4);
  font-size: 16px;
  font-family: var(--font-family-Poppins-Reg);
  font-weight: 400;
  line-height: 24px;
}

.p-14 {
  margin: 0;
  color: var(--neutrals-4);
  font-size: 14px;
  font-family: var(--font-family-Poppins-Reg);
  font-weight: 400;
  line-height: 24px;
}

.p-bold-sans {
  margin: 0;
  color: var(--neutrals-8);
  font-size: 16px;
  font-family: var(--font-family-Poppins-SB);
  line-height: 24px;
}

.p-14-bold {
  margin: 0 auto;
  color: var(--neutrals-4);
  font-size: 14px;
  font-family: var(--font-family-DMSans);
  font-weight: 700;
  line-height: 16px;
}

.p-bold-8 {
  margin: 0 auto;
  color: var(--neutrals-8);
  font-size: 16px;
  font-family: var(--font-family-DMSans);
  font-weight: 700;
  line-height: 16px;
}


.p-mini {
  margin: 0 auto;
  color: var(--neutrals-4);
  font-size: 12px;
  font-family: var(--font-family-Poppins-Reg);
  font-weight: 400;
  line-height: 20px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1120px;
  padding-bottom: $padding-section-bottom;
  @include small-tablet {
    max-width: 600px;
  }
}

.flex-sb {
  @include flex-sb;
}
.flex-sb-center {
  @include flex-all-sb;
}

.page {
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  outline: none;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

//animation
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes slideInLeft {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  }
  @keyframes slideInLeft {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
}
