:root {
  //fonts
  --font-family-DMSans: "DMSans-Bold";
  --font-family-Poppins-Reg: "Poppins-Regular";
  --font-family-Poppins-SB: "Poppins-SemiBold";


  // colors
  --neutrals-1: #323240;
  --neutrals-2: #3B3B4B;;
  --neutrals-3: #323240;
  --neutrals-4: #67676F;
  --neutrals-5: #323240;
  --neutrals-6: #323240;
  --neutrals-7: #F4F5F6;
  --neutrals-8: #FCFCFD;
  --primary-1: #354BFF;
  // --primary-2:;
  --primary-3: #DCF235;
  --primary-4: #58BD7D;
}
